body {
  /* overflow-x: hidden; */
  margin: 0;
  background-color: #4253af; 
}

div {
  margin: 0;
}

.flex-container {
  display: flex;

}
.wrapper {
  max-width: 100%;
}

.wrapper > div {
  display: inline-block;
}

.col-1 {
  width: 20vw;
}

.col-2 {
  width: 78vw;
  background-color: #fefefe;
}

.margin-top-5 {
  margin-top: 5rem;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

/* Google Map */

.google-map {
  max-width: 100vw;
  height: 100vh;
}

.google-map-buttons {
  position: relative;
  z-index: 102;
  top: 8rem;
}

/* Navbar */

/* Sidebar */

#sidebar {
  position: fixed;
  text-align: center;
  z-index: 100;
  width: 20vw;
  top: 0;
  height: 100vh;
  color: #fefefe;
  background-color: #4253af;
  border-right: 2px solid #fefefe;

}

.sidebar-margin {
  margin-top: 5rem;
}

#sidebar img {
  display: inline-block;
  border-radius: 100%;
  max-width: 40%;
  border: 3px solid #fefefe;
}
